body {
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    border: solid;
    border-radius: 10px;
    height: 100px;
    text-align: center;   
    grid-column: 1/3;
    grid-row: 1;

}

.editionForm {
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
}

h2 {
    text-align: center;
}

.htmlArea {
    grid-column: 1;
    grid-row: 2;
    height: 300px;
    width: 500px;
}

.htmlAnimation {
    display: none;
    grid-column: 1;
    grid-row: 1;
    height: 15px;
}

.htmlAnimation:before {
    content: " ";
    animation-name: writing-html;
    animation-duration: 8s;
	animation-iteration-count: infinite;
}

@keyframes writing-html
{
	from
	{
		content: " ";
	}
	5%
	{
		content: "<";
	}
	10%
	{
		content: "<d";
    }
	15%
	{
		content: "<di";
	}
	20%
	{
		content: "<div";
	}
	25%
	{
		content: "<div>";
	}
	30%
	{
		content: "<div></div>";
	}
	35%
	{
		content: "<div>H</div>";
	}
    40%
	{
		content: "<div>He</div>";
	}
	45%
	{
		content: "<div>Hel</div>";
	}
	50%
	{
		content: "<div>Hell</div>";
	}
	55%
	{
		content: "<div>Hello</div>";
	}
	60%
	{
		content: "<div>Hello </div>";
	}
	65%
	{
		content: "<div>Hello W</div>";
	}
    70%
	{
		content: "<div>Hello Wo</div>";
	}
	75%
	{
		content: "<div>Hello Wor</div>";
	}
	80%
	{
		content: "<div>Hello Worl</div>";
	}
	85%
	{
		content: "<div>Hello World</div>";
	}
	90%
	{
		content: "<div>Hello World!</div>";
	}
	95%
	{
		content: "<div>Hello World! :</div>";
	}
	to
	{
		content: "<div>Hello World! :)</div>";
	}
}

.cssAnimation {
    display: none;
    grid-column: 1;
    grid-row: 1;
    height: 15px;
}

.cssAnimation:before {
    content: " ";
    animation-name: writing-css;
    animation-duration: 8s;
	animation-iteration-count: infinite;
}

@keyframes writing-css
{
	from
	{
		content: " ";
	}
	5%
	{
		content: "#";
	}
	10%
	{
		content: "#t";
    }
	15%
	{
		content: "#ta";
	}
	20%
	{
		content: "#tag ";
	}
	25%
	{
		content: "#tag {}";
	}
	30%
	{
		content: "#tag {c}";
	}
	35%
	{
		content: "#tag {co}";
	}
    40%
	{
		content: "#tag {col}";
	}
	45%
	{
		content: "#tag {colo}";
	}
	50%
	{
		content: "#tag {color}";
	}
	55%
	{
		content: "#tag {color:}";
	}
	60%
	{
		content: "#tag {color: }";
	}
	65%
	{
		content: "#tag {color: g}";
	}
    70%
	{
		content: "#tag {color: gr}";
	}
	75%
	{
		content: "#tag {color: gre}";
	}
	80%
	{
		content: "#tag {color: gree}";
	}
	85%
	{
		content: "#tag {color: green}";
	}
	90%
	{
		content: "#tag {color: green;}";
	}
	95%
	{
		content: "#tag {color: green;}";
	}
	to
	{
		content: "#tag {color: green;}";
	}
}

#progressbarHtml {
    width: 500px;
    height: 10px;
}

.cssArea {
    grid-column: 2;
    grid-row: 2;
    height: 300px;
    width: 500px;
}

#progressbarCss {
    width: 500px;
    height: 10px;
}

.jsArea {
    grid-column: 3;
    grid-row: 2;
    height: 300px;
    width: 500px;
}

#progressbarJs {
    width: 500px;
    height: 10px;
}

label {
    text-align: center;
}

.toolBar {
    grid-row: 3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.htmlTools{
    grid-column: 1;
}

.cssTools {
    grid-column: 2;
}

.blanc {
    background-color: white;
}

.rouge {
    background-color: red;
}

.vert {
    background-color: green;
}

.bleu {
    background-color: blue;
}

.jaune {
    background-color: yellow;
}

.display {
    grid-row: 4;
    grid-column: 1/3;
    border: solid;
    border-radius: 10px;
}

.resultArea {
    width: 100%;
    height: 200px;
}

select {
    background-color: rgb(240, 113, 28);
    border-radius: 10px 10px 0 0;
}

button {
    border-radius: 10px;
    background-color: rgb(240,113,28);
}