.jsArea {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    margin-left: 5px;
    margin-right: 5px;

    >h2 {
        grid-row: 1;
        grid-column: 1/3;
        text-align: center;
        color: $h2Color;
        font-size: $h2FontSize;
    }

    &__params {
        grid-row: 2;
        grid-column: 1;
        height: $gearHeight;
        width: $gearWidth;
        border-radius: 5px;

        &--close {
            background-image: url('../images/orangeCross.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: orange;
        }

        &--gear {
            background-image: url('../images/btnParams.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: orange;
        }
    }

    &__selectChar {
        grid-row: 2;
        grid-column: 1/2;
        width: 100%;
        height: 20px;
        transform: translateX(42px);

        &--visible {
            display: inline;
        }

        &--hide {
            display: none;
        }
    }

    &__tools {
        grid-row: 3;
        grid-column: 1/3;

        &__functionButton {
            border-radius: 10px;
            background-color: $buttonColor;
        }
    }

    &__text {
        grid-row: 4;
        grid-column: 1/3;
        height: 250px;
        min-width: 450px;
        background-color: $resultColor;
        resize: none;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;

            &-thumb {
                background-color: #ff8c00;
            }
        }
    }

    &__progressbar {
        grid-row: 5;
        grid-column: 1/3;
        width: auto;
        height: 10px;
    }

    &__maxChar {
        grid-row: 6;
        grid-column: 1;
    }
}